.neon-hr {
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
  border: 0;
  height: 2px;
  background-color: rgba(253, 208, 234, 0.85);
  box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 7px #fff,
    0 0 10px rgba(253, 208, 234, 1), 0 0 17px rgba(253, 208, 234, 1),
    0 0 20px rgba(253, 208, 234, 1), 0 0 25px rgba(253, 208, 234, 1),
    0 0 37px rgba(253, 208, 234, 1);
}

.glow-button {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.glow-button:hover {
  -webkit-animation: glowLink 1.5s ease-in-out infinite alternate;
  -moz-animation: glowLink 1.5s ease-in-out infinite alternate;
  animation: glowLink 1.5s ease-in-out infinite alternate;
}

.glow-link {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.glow-link:hover {
  color: #fff;
  -webkit-animation: glowLink 1.5s ease-in-out infinite alternate;
  -moz-animation: glowLink 1.5s ease-in-out infinite alternate;
  animation: glowLink 1.5s ease-in-out infinite alternate;
}

@keyframes glowLink {
  from {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #afe9fe,
      0 0 350px #afe9fe, 0 0 40px #afe9fe, 0 0 50px #afe9fe, 0 0 75px #afe9fe;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #afe9fe,
      0 0 35px #afe9fe, 0 0 40px #afe9fe, 0 0 50px #afe9fe, 0 0 75px #afe9fe;
  }
}
@-webkit-keyframes glowLink {
  from {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #afe9fe,
      0 0 350px #afe9fe, 0 0 40px #afe9fe, 0 0 50px #afe9fe, 0 0 75px #afe9fe;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #afe9fe,
      0 0 35px #afe9fe, 0 0 40px #afe9fe, 0 0 50px #afe9fe, 0 0 75px #afe9fe;
  }
}
@-moz-keyframes glowLink {
  from {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #afe9fe,
      0 0 350px #afe9fe, 0 0 40px #afe9fe, 0 0 50px #afe9fe, 0 0 75px #afe9fe;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #afe9fe,
      0 0 35px #afe9fe, 0 0 40px #afe9fe, 0 0 50px #afe9fe, 0 0 75px #afe9fe;
  }
}
